<div class="wrapper">
    <div class="leftside-menu">
        <!-- LOGO -->
        <a routerLink="/home" class="logo text-center logo-light">
            <span class="logo-lg">
                <img src="assets/images/loggo.png" alt="" height="50">
            </span>       
        </a>                
        <div class="h-100" id="leftside-menu-container" data-simplebar="">
            <!--- Sidemenu -->
            <ul class="side-nav">
                <li class="side-nav-title">dashboard admin</li>
                <!-- stats -->
                <li class="side-nav-item">
                    <a class="side-nav-link">
                        <i class="uil-user-plus"></i>
                        <span>Statistiques</span>
                    </a>
                </li>
                <!-- utilisateurs -->
                <li class="side-nav-item">
                    <a routerLink="/users" class="side-nav-link">
                        <i class="uil-user"></i>
                        <span>Utilisateurs</span>
                    </a>
                </li>
                <!--Rapports -->
                <li class="side-nav-item">
                    <a class="side-nav-link">
                        <i class="uil-user-plus"></i>
                        <span>Rapports</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -left -->
    </div>
    <div class="navbar-custom">
        <ul class="list-unstyled topbar-menu float-end mb-0">
            <li class="dropdown notification-list d-lg-none">
                <a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <i class="dripicons-search noti-icon"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-animated dropdown-lg p-0">
                    <form class="p-3">
                        <input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                    </form>
                </div>
            </li>
            <li class="dropdown notification-list topbar-dropdown">
                <a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <img src="assets/images/flags/us.jpg" alt="user-image" class="me-0 me-sm-1" height="12"> 
                    <span class="align-middle d-none d-sm-inline-block">English</span> <i class="mdi mdi-chevron-down d-none d-sm-inline-block align-middle"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu">

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <img src="assets/images/flags/germany.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle">German</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <img src="assets/images/flags/italy.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle">Italian</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <img src="assets/images/flags/spain.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle">Spanish</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <img src="assets/images/flags/russia.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle">Russian</span>
                    </a>

                </div>
            </li>

            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <i class="dripicons-bell noti-icon"></i>
                    <span class="noti-icon-badge"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated dropdown-lg">

                    <!-- item-->
                    <div class="dropdown-item noti-title">
                        <h5 class="m-0">
                            <span class="float-end">
                                <a href="javascript: void(0);" class="text-dark">
                                    <small>Clear All</small>
                                </a>
                            </span>Notification
                        </h5>
                    </div>

                    <div style="max-height: 230px;" data-simplebar="">
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon bg-primary">
                                <i class="mdi mdi-comment-account-outline"></i>
                            </div>
                            <p class="notify-details">Caleb Flakelar commented on Admin
                                <small class="text-muted">1 min ago</small>
                            </p>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon bg-info">
                                <i class="mdi mdi-account-plus"></i>
                            </div>
                            <p class="notify-details">New user registered.
                                <small class="text-muted">5 hours ago</small>
                            </p>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon">
                                <img src="assets/images/users/avatar-2.jpg" class="img-fluid rounded-circle" alt=""> </div>
                            <p class="notify-details">Cristina Pride</p>
                            <p class="text-muted mb-0 user-msg">
                                <small>Hi, How are you? What about our next meeting</small>
                            </p>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon bg-primary">
                                <i class="mdi mdi-comment-account-outline"></i>
                            </div>
                            <p class="notify-details">Caleb Flakelar commented on Admin
                                <small class="text-muted">4 days ago</small>
                            </p>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon">
                                <img src="assets/images/users/avatar-4.jpg" class="img-fluid rounded-circle" alt=""> </div>
                            <p class="notify-details">Karen Robinson</p>
                            <p class="text-muted mb-0 user-msg">
                                <small>Wow ! this admin looks good and awesome design</small>
                            </p>
                        </a>

                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon bg-info">
                                <i class="mdi mdi-heart"></i>
                            </div>
                            <p class="notify-details">Carlos Crouch liked
                                <b>Admin</b>
                                <small class="text-muted">13 days ago</small>
                            </p>
                        </a>
                    </div>

                    <!-- All-->
                    <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                        View All
                    </a>

                </div>
            </li>

            <li class="dropdown notification-list d-none d-sm-inline-block">
                <a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <i class="dripicons-view-apps noti-icon"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated dropdown-lg p-0">

                    <div class="p-2">
                        <div class="row g-0">
                            <div class="col">
                                <a class="dropdown-icon-item" href="#">
                                    <img src="assets/images/brands/slack.png" alt="slack">
                                    <span>Slack</span>
                                </a>
                            </div>
                            <div class="col">
                                <a class="dropdown-icon-item" href="#">
                                    <img src="assets/images/brands/github.png" alt="Github">
                                    <span>GitHub</span>
                                </a>
                            </div>
                            <div class="col">
                                <a class="dropdown-icon-item" href="#">
                                    <img src="assets/images/brands/dribbble.png" alt="dribbble">
                                    <span>Dribbble</span>
                                </a>
                            </div>
                        </div>

                        <div class="row g-0">
                            <div class="col">
                                <a class="dropdown-icon-item" href="#">
                                    <img src="assets/images/brands/bitbucket.png" alt="bitbucket">
                                    <span>Bitbucket</span>
                                </a>
                            </div>
                            <div class="col">
                                <a class="dropdown-icon-item" href="#">
                                    <img src="assets/images/brands/dropbox.png" alt="dropbox">
                                    <span>Dropbox</span>
                                </a>
                            </div>
                            <div class="col">
                                <a class="dropdown-icon-item" href="#">
                                    <img src="assets/images/brands/g-suite.png" alt="G Suite">
                                    <span>G Suite</span>
                                </a>
                            </div>
                        </div> <!-- end row-->
                    </div>

                </div>
            </li>

            <li class="notification-list">
                <a class="nav-link end-bar-toggle" href="javascript: void(0);">
                    <i class="dripicons-gear noti-icon"></i>
                </a>
            </li>

            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <span class="account-user-avatar"> 
                        <img src="assets/images/users/avatar-1.jpg" alt="user-image" class="rounded-circle">
                    </span>
                    <span>
                        <span class="account-user-name">Soeng Souy</span>
                        <span class="account-position">Founder</span>
                    </span>
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                    <!-- item-->
                    <div class=" dropdown-header noti-title">
                        <h6 class="text-overflow m-0">Welcome !</h6>
                    </div>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="mdi mdi-account-circle me-1"></i>
                        <span>My Account</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="mdi mdi-account-edit me-1"></i>
                        <span>Settings</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="mdi mdi-lifebuoy me-1"></i>
                        <span>Support</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="mdi mdi-lock-outline me-1"></i>
                        <span>Lock Screen</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="mdi mdi-logout me-1"></i>
                        <span>Logout</span>
                    </a>
                </div>
            </li>

        </ul>
        <button class="button-menu-mobile open-left">
            <i class="mdi mdi-menu"></i>
        </button>
        <div class="app-search dropdown d-none d-lg-block">
            <form>
                <div class="input-group">
                    <input type="text" class="form-control dropdown-toggle" placeholder="Search..." id="top-search">
                    <span class="mdi mdi-magnify search-icon"></span>
                    <button class="input-group-text btn-primary" type="submit">Search</button>
                </div>
            </form>

            <div class="dropdown-menu dropdown-menu-animated dropdown-lg" id="search-dropdown">
                <!-- item-->
                <div class="dropdown-header noti-title">
                    <h5 class="text-overflow mb-2">Found <span class="text-danger">17</span> results</h5>
                </div>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                    <i class="uil-notes font-16 me-1"></i>
                    <span>Analytics Report</span>
                </a>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                    <i class="uil-life-ring font-16 me-1"></i>
                    <span>How can I help you?</span>
                </a>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                    <i class="uil-cog font-16 me-1"></i>
                    <span>User profile settings</span>
                </a>

                <!-- item-->
                <div class="dropdown-header noti-title">
                    <h6 class="text-overflow mb-2 text-uppercase">Users</h6>
                </div>

                <div class="notification-list">
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <div class="d-flex">
                            <img class="d-flex me-2 rounded-circle" src="assets/images/users/avatar-2.jpg" alt="Generic placeholder image" height="32">
                            <div class="w-100">
                                <h5 class="m-0 font-14">Erwin Brown</h5>
                                <span class="font-12 mb-0">UI Designer</span>
                            </div>
                        </div>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <div class="d-flex">
                            <img class="d-flex me-2 rounded-circle" src="assets/images/users/avatar-5.jpg" alt="Generic placeholder image" height="32">
                            <div class="w-100">
                                <h5 class="m-0 font-14">Jacob Deo</h5>
                                <span class="font-12 mb-0">Developer</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="container-fluid">
            <div class="row mb-2 mt-1.7">
                <!-- Compte 1 -->
                <div class="col-xl-4 col-lg-12">
                    <div class="card h-100">
                        <div class="card-body p-2">
                            <h3 class="mt-1 mb-1 text-center">Réactions - Compte 1</h3>
                            <canvas id="jawedEngagementChart"></canvas>
                        </div>
                    </div>
                </div>

                <!-- Compte 2 -->
                <div class="col-xl-4 col-lg-12">
                    <div class="card h-100">
                        <div class="card-body p-2">
                            <h3 class="mt-1 mb-1 text-center">Réactions - Compte 2</h3>
                            <canvas id="maissaEngagementChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-2 mt-1.7">
                <!-- Colonne pour les informations du premier compte Instagram -->
                <div class="col-xl-4 col-lg-12">
                    <div class="card h-100">
                        <div class="card-body p-2">
                            <span class="float-start m-2 me-4">
                                <img src="assets/images/insta.png" style="height: 80px;" alt="" class="rounded-circle img-thumbnail">
                            </span>
                            <div>
                                <h4 class="mt-1 mb-1">Compte Instagram 1</h4>
                                <p class="font-13">Description du compte 1</p>
                                <ul class="mb-0 list-inline">
                                    <li class="list-inline-item">
                                        <h5 class="mb-1 text-center">URL du profil Instagram :</h5>
                                        <p class="mb-0 font-13 text-center">https://www.instagram.com/compte1/</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body p-2">
                            <div class="row align-items-center">
                                <div class="col-6">
                                    <h5 class="text-muted fw-normal mt-0 text-truncate" title="New Leads">Engagement</h5>
                                    <h3 class="my-2 py-1">{{ compte1EngagementRate }}%</h3>
                                    <p class="mb-0 text-muted">
                                        <span class="text-info me-2"><i class="mdi mdi-arrow-up-bold"></i> 3.5%</span>
                                    </p>
                                </div>
                                <div class="col-6">
                                    <div class="text-end" style="position: relative;">
                                        <div id="new-leads-chart1" data-colors="#0acf97" style="min-height: 40px;">
                                            <!-- Votre graphique ici -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Colonne pour les informations du deuxième compte Instagram -->
                <div class="col-xl-4 col-lg-12">
                    <div class="card h-100">
                        <div class="card-body p-2">
                            <span class="float-start m-2 me-4">
                                <img src="assets/images/insta.png" style="height: 80px;" alt="" class="rounded-circle img-thumbnail">
                            </span>
                            <div>
                                <h4 class="mt-1 mb-1">Compte Instagram 2</h4>
                                <p class="font-13">Description du compte 2</p>
                                <ul class="mb-0 list-inline">
                                    <li class="list-inline-item">
                                        <h5 class="mb-1 text-center">URL du profil Instagram :</h5>
                                        <p class="mb-0 font-13 text-center">https://www.instagram.com/compte2/</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body p-2">
                            <div class="row align-items-center">
                                <div class="col-6">
                                    <h5 class="text-muted fw-normal mt-0 text-truncate" title="New Leads">Engagement</h5>
                                    <h3 class="my-2 py-1">{{ compte2EngagementRate }}%</h3>
                                    <p class="mb-0 text-muted">
                                        <span class="text-info me-2"><i class="mdi mdi-arrow-up-bold"></i> 3.5%</span>
                                    </p>
                                </div>
                                <div class="col-6">
                                    <div class="text-end" style="position: relative;">
                                        <div id="new-leads-chart2" data-colors="#0acf97" style="min-height: 40px;">
                                            <!-- Votre graphique ici -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Similar layout for the other statistics like posts, followers, following -->
            <div class="row">
                <div class="col-xl-4 col-lg-6">
                    <div class="card" id="carte-avec-image1">
                        <div class="card-body p-2">
                            <h3 class="mt-1 mb-1">Publications - Compte 1</h3>
                            <div class="d-flex align-items-center">
                                <img src="assets/images/publier.png" class="img-fluid mr-3" style="height: 50px;" alt="Image description">
                                <h3 class="mt-1 mb-1">{{ compte1PostsCount }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="card" id="carte-avec-image2">
                        <div class="card-body p-2">
                            <h3 class="mt-1 mb-1">Publications - Compte 2</h3>
                            <div class="d-flex align-items-center">
                                <img src="assets/images/publier.png" class="img-fluid mr-3" style="height: 50px;" alt="Image description">
                                <h3 class="mt-1 mb-1">{{ compte2PostsCount }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Répétez pour les abonnés et les abonnements -->
            </div>
        </div>
    </div>
</div>

<style>
/* Ensure the wrapper takes the full height of the viewport */
.wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* Style for the left side menu */
.leftside-menu {
    width: 250px; /* Adjust this value based on the desired width of the sidebar */
    background-color: #f8f9fa; /* Or any other desired background color */
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}

/* Style for the main content area */
.main-content {
    margin-left: 250px; /* Must match the width of the sidebar */
    padding: 20px;
    width: calc(100% - 250px); /* Must match the width of the sidebar */
    overflow-y: auto;
    height: 100vh;
}
</style>