<footer class="bg-dark py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="header">
                    <img src="assets/images/loggo.png" alt="Logo de SocialKPI" class="logo-dark" height="40">
                    <h1 style="color: rgb(216, 156, 235);">SocialKPI</h1>
                </div>
                <p class="text-muted mt-4">Suivez-nous sur les réseaux sociaux pour rester informé de nos dernières actualités et offres!</p>

                <ul class="social-list list-inline mt-3">
                    <li class="list-inline-item text-center">
                        <a href="https://www.facebook.com/profile.php?id=61550838767540" class="social-list-item border-primary text-primary" >
                            <img src="assets/images/fbb.png" alt="Facebook" style="width: 27px; height: 27px; border-radius: 50%;">
                        </a>
                    </li>
                    <li class="list-inline-item text-center">
                        <a href="https://www.instagram.com/360.marketing.agency/" class="social-list-item border-primary text-primary">
                            <img src="assets/images/insta.png" alt="Facebook" style="width: 27px; height: 27px; border-radius: 50%;">
                        </a>
                    </li>
                    <li class="list-inline-item text-center">
                        <a href="https://www.linkedin.com/company/99887038/" class="social-list-item border-primary text-primary">
                            <img src="assets/images/link.png" alt="Facebook" style="width: 27px; height: 27px; border-radius: 50%;">
                        </a>
                    </li>
                </ul>

            </div>

            <div class="col-lg-2 mt-3 mt-lg-0">
                <h5 class="text-light">Societé</h5>

                <ul class="list-unstyled ps-0 mb-0 mt-3">
                    <li class="mt-2"><a href="javascript: void(0);" class="text-muted">360° Marketing </a></li>
                    <li class="mt-2"><a href="javascript: void(0);" class="text-muted">Ennaser 1 , Ariana 2037</a></li>
                    <li class="mt-2"><a href="javascript: void(0);" class="text-muted">Téléphone :<br> +216 29 850 471  </a></li>
                    <li class="mt-2"><a href="javascript: void(0);" class="text-muted"> Email : contact@360markting.fr </a></li>
                </ul>

            </div>

            <div class="col-lg-2 mt-3 mt-lg-0">
                <h5 class="text-light">Liens</h5>

                <ul class="list-unstyled ps-0 mb-0 mt-3">
                    <li class="mt-2"><a href="javascript: void(0);" class="text-muted"> </a></li>
                    <li class="mt-2"><a href="/home" class="text-muted">Acceuil</a></li>
                    <li class="mt-2"><a href="/about" class="text-muted">A propos </a></li>
                    <li class="mt-2"><a href="/register" class="text-muted">S'inscrire</a></li>
                    <li class="mt-2"><a href="/login" class="text-muted">Se connecter</a></li>
                </ul>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="mt-5">
                    <p class="text-muted mt-4 text-center mb-0">© 2024 360° Marketing</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<style> 
.header {
    display: flex; /* Utilise Flexbox pour aligner les éléments côte à côte */
    align-items: center; /* Aligner verticalement les éléments au centre */
    gap: 10px; /* Ajouter un peu d'espace entre le logo et le h1 */
}

.logo-dark {
    display: block; /* Assure que l'image ne soit pas en ligne */
    height: 40px; /* Hauteur spécifique pour l'image */
}

h1 {
    margin: 0; /* Retire la marge par défaut autour de h1 */
    font-size: 27px; /* Vous pouvez ajuster la taille de police comme désiré */
}
</style>