<app-header></app-header>
<div class="container">
    <div class="header">
      <h1>Application de mesure de KPI sur les réseaux sociaux</h1>
      <p>Analysez vos performances et optimisez vos stratégies.</p>
    </div>
  
    <div class="features">
      <h2>Fonctionnalités principales :</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="feature-box">
           <img  src="assets/icon-data-collection.svg" alt="Collecte de données">
            <h3>Collecte automatisée des données</h3>
            <p>Récupérez des données précieuses de vos réseaux sociaux favoris.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature-box">
            <img src="src\assets\images\im1.png" alt="Analyse">
            <h3>Analyse approfondie des KPIs</h3>
            <p>Comprenez vos performances et identifiez les tendances.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature-box">
            <img src="assets/icon-reporting.svg" alt="Reporting">
            <h3>Rapports visuels et interactifs</h3>
            <p>Visualisez vos données et partagez vos insights.</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="call-to-action">
      <button routerLink="/personne" class="btn btn-primary">Voir Plus</button>
    </div>
  </div>
